@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Hubot Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--ui-border);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
