name: Release Next

permissions:
  contents: write
  id-token: write

on:
  push:
    tags:
      - 'v*-*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Force Set pnpm Registry
        run: pnpm config set registry https://registry.npmjs.org

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Publish
        run: pnpm publish -r --access public --no-git-checks --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
