name: Update Bundle Stats

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build

      - name: Run bundle size test
        run: pnpm test:bundle-size

      - name: Run Vue bundle size test
        run: pnpm test:vue-bundle-size

      - uses: oven-sh/setup-bun@v2

      - name: Update stats
        run: bun bench/bundle/update.ts

      - name: Commit changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add bench/bundle/last.json
          git diff --quiet && git diff --staged --quiet || git commit -m "chore: update bundle stats [skip ci]"
          git push
